<table class="table table-striped">
    <thead>
        <th>Nombre</th>
        <th>Telefono</th>
    </thead>
    <tbody>
        {{#each proveedors }}
        <tr>
            <td>{{nombre}}</td>
            <td>{{telefono}}</td>
        </tr>
        {{/each}}
    </tbody>
    <tfoot>
        <td></td>
        <td></td>
        <td>Total = X</td>
    </tfoot>
</table>    